<html>
<head>
    <title> 
        <%= title %>
    </title>
    <link rel="stylesheet" href="/index.css">
</head>
<body>
    <ul class="poke-deck">
        <% pokemons.forEach((pokemon)=>{ %>
        <li>
        <%- include("partials/pokeCard", {pokemon: pokemon}); %>
        </li>
        <% }) %>
    </ul>

    <section>
        <a href="/create/pokemons">Add new pokemon</a>
        <a href="/manage/trainers">Manage trainers</a>
        <a href="/manage/types">Manage types</a>
    </section>
    
</body>
</html>