<html>
    <head>
        <title>Create new type</title>
    </head>
    <body>
        <% -include("../partials/errors.ejs") %>
        <form action="/create/type" method="post">
            <label for="name">Enter Type:</label>
            <input type="text" name="name">
            <button type="submit">Submit</button>
        </form>
        <a href="/">Back to Home</a>
    </body>
</html>