<html>
    <head>
        <title>Create new type</title>
    </head>
    <body>
        <form action="/create/type" method="post">
            <label for="type_name">Enter Type:</label>
            <input type="text" name="type_name">
            <button type="submit">Submit</button>
        </form>
    </body>
</html>