<html>
    <head>
        <title>Add new Trainer</title>
    </head>
    <body>
        <form action="/create/trainer">
            <ul>
                <li>
                    <label for="name">Name: </label>
                    <input type="text" name="name">
                </li>
                <li>
                    <label for="region">Region: </label>
                    <input type="text" name="region">
                </li>
            </ul>
            <button type="submit">Submit</button>
        </form>
    </body>
</html>