<html>
    <head></head>
    <body>
        <h1><%= trainer.name %></h1>
        <ul>
            <li>Region: <%= trainer.region %></li>
            <a href="/">back to home</a>
        </ul>
    </body>
</html>